h1, h2, h3, h4
{
    margin: 0;
}

body, html
{
    height: 100%;
    background: #ececec;;
    color: white;
    font-family: Arial, Helvetica, SansSerif;
}

header
{
    background: #900;
    min-height: 100px;
    margin-bottom: 20px;
}

#logo
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, SansSerif;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 100px;
}

.tab
{
    padding-left: 40px;
    width: 80%;
    margin: 0 auto;
}

.tab .tablinks
{
    font-size: 1.25em;
    margin: 0;
    margin-right: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
}

.tab .tab-selected
{
    background: white;
    font-weight: bold;
}

.form-container
{
    width: 80%;
    margin: 0 auto;
    magin-bottom: 10px;
    background: white;
    border-radius: 15px;
    padding: 10px 0;
    color: black;
}

.tab-match-container .tablinks
{
    font-size: 1.25em;
    margin: 0;
    margin-right: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background: lightgrey;
    border: 2px solid #900;
    border-bottom: none;
}


.tab-match-container .tab-selected
{
    background: #900;
    font-weight: bold;
    color: white;
}

.match-container
{
	padding: 20px;
	margin: 0 auto;
	width: 90%;
	border-radius: 10px;
	background: #ececec;
	border: 2px solid #900;
}

#matchForm, #pitForm
{
    text-align: center;
}


form
{
    font-size: 1.2em;
    margin-bottom: 0;
}

input 
{
	margin: 15 px auto;
	margin-bottom: 15px;	
}

/*input[type=radio], input[type=checkbox]
{
	margin-bottom: 15px;
	margin: 0 auto;
}*/

span
{
	color: blue;
}

.hotkey
{
	color: #900;
	border: 1px solid #900;
	border-radius: 7px;
	padding: 3px;
	opacity: 0.2;
}

.hotkey::after
{
	content: "\A";
	white-space: pre;
}

form h2
{
    margin-bottom: 10px;
}

textarea 
{
	width: 80%;
	height: 15em;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 0;
}


form fieldset > *
{
    margin: 10px;
}

.form-submit
{
	margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background: #900;
    border: none;
    font-size: 24px;
    border-radius: 5px;
}

.form-submit:hover
{
    background: black;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*MEDIA QUERIES/DYNAMIC CSS*/
@media screen and (max-width: 450px)
{
    .form-container
    {
        width: 100%;
    }

    .tab
    {
        width: 100%;
        padding-left: 5px;
        margin: 0 0 0 10px;
    }
}