h1, h2, h3, h4
{
    margin: 0;
}

body, html
{
	text-align: center;
  	margin: 0;
    height: 100%;
    background: #ececec;
    color: black;
    font-family: Arial, Helvetica, SansSerif;
}


/* Styles for Header/Logo area (FRC Team 283 - RED ALLIANCE part)
==============================================================================*/
header
{
    background: #900;
    min-height: 100px;
    margin-bottom: 20px;
}

#logo
{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, SansSerif;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 100px;
}

/* Tab styles
==============================================================================*/

.tab
{
    padding-left: 40px;
    width: 80%;
    margin: 0 auto;
}

.tablinks
{
    font-size: 1.25em;
    margin: 0;
    margin-right: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    z-index: 999;
}

.tab-selected
{
	border: 1.5px solid #ececec;
	border-bottom: none;
    background: white;
    font-weight: bold;
}

.tabContainer
{
	font-weight: bold;
}

.tabContent
{
	font-weight: bold;
  text-align: center;
  padding: 10px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  /*z-index: -1;*/
}

/* Kinda broke
.tabContent .tablinks
{
    font-size: 1.25em;
    margin: 0;
    margin-right: 5px;
    border: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px;
    background: lightgrey;
    border: 2px solid #900;
    border-bottom: none;
}


.tabContent .tab-selected
{
    background: #900;
    font-weight: bold;
    color: white;
}
*/


/* Container styles (obsolete?)
==============================================================================*/
.form-container
{
    width: 80%;
    margin: 0 auto;
    magin-bottom: 10px;
    background: white;
    border-radius: 15px;
    padding: 10px 0;
    color: black;
}



.match-container
{
	padding: 20px;
	margin: 0 auto;
	width: 90%;
	border-radius: 10px;
	background: #ececec;
	border: 2px solid #900;
}

#matchForm, #pitForm, #form
{
    text-align: center;
}

input
{
	margin: 15 px auto;
	margin-bottom: 15px;
}

/*input[type=radio], input[type=checkbox]
{
	margin-bottom: 15px;
	margin: 0 auto;
}*/

span
{
	color: blue;
}

.textField
{
	height: 100px;
	width: 200px;
}

/* Hotkey styles
==============================================================================*/
.hotkey
{
	color: #900;
	border: 1px solid #900;
	border-radius: 7px;
  	margin-left: 2.5px;
	padding: 3px;
	opacity: 0.2;
}

.hotkey::after
{

}

form h2
{
    margin-bottom: 10px;
}

textarea
{
	width: 80%;
	height: 15em;
}

fieldset
{
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}


.form-submit
{
	margin-top: 10px;
    padding: 10px 20px;
    color: white;
    background: #900;
    border: none;
    font-size: 24px;
    border-radius: 5px;
}

.form-submit:hover
{
    background: black;
    cursor: pointer;
}

/* Voodoo Magic (Removes the arrows for number inputs)
==============================================================================*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Miscellaneous Styles
==============================================================================*/
.error
{
	color: #900;
	margin: auto;
	border-radius: 5px;
	border: 2px solid #900;
	width: 30%;
}

.optional-field
{
	font-style: italic;
}

.information-panel
{
	margin: auto;
	margin-bottom: 15px;
	font-weight: bold;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
	width: 30%;
	border-radius: 5px;
}
